<h1>Viewing Party Light</h1>

<% if session[:user_id] %>
  <%= link_to "Log Out", '/logout', method: :delete %>
<% else %>
  <%= button_to 'Create a New User', '/register', method: :get %>
  <%= link_to "Log In", '/login' %>
<% end %>
<%if session[:user_id] %>

  <p>Existing Users:</p>
  <% @users.each do |user| %>
    <%= user.email %>
  <% end %>
<% end %>
